<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col">Appoinments</div>
      <div class="col"></div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table rules=none class="table table-bordered problem-table">
        <tr>
          <th colspan="2" style="text-align: center;">Client Name</th>
          <!-- <th></th> -->
          <th>Service</th>
          <th>Parts</th>
          <th>Price</th>
        </tr>
<!--        <%
                              if(sampleData.length > 0)
                              {
                                  sampleData.forEach(function(data){
                              %>
        <tr> -->
          <td><a href="<%= data.link %>"><%= data.name %></a></td>
          <td>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label" for="inlineCheckbox1">
                <p>Completed</p>
              </label>
            </div>
          </td>
          <td><%= data.website%></td>
          <td><%= data.category%></td>
          <td></td>
        </tr>
      <!--  <%
                                  });
                              }
                              else
                              {
                              %> -->
        <tr>
          <td colspan="5">No Appointments Found</td>
        </tr>
<!--          <%
                              }
                              %>  -->
      </table>
    </div>
  </div>
</div>
