<html>

<head>
  <title>Add Map</title>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

  <link rel="stylesheet" type="text/css" href="stylesheets/test.css" />
  <!-- <script type="module" src="routes/index.js"></script> -->
</head>

<body>
  <h3>My Google Maps Demo</h3>
  <!--The div element for the map -->

  <div id="map"></div>
  <script>
    // function initMap(){
    //   // The location of Uluru
    //   const uluru = { lat: 23.9412615, lng: 90.3842619 };
    //   // The map, centered at Uluru
    //   const map = new google.maps.Map(document.getElementById("map"), {
    //     zoom: 15,
    //     center: uluru,
    //   });
    //   // The marker, positioned at Uluru
    //   const marker = new google.maps.Marker({
    //     position: uluru,
    //     map: map,
    //   });
    // }
    // window.initMap = initMap;




    // function initMap() {
    //   map = new google.maps.Map(document.getElementById("map"), {
    //     center: { lat: -34.397, lng: 150.644 },
    //     zoom: 15,
    //   });
    //   infoWindow = new google.maps.InfoWindow();

    //   const locationButton = document.createElement("button");

    //   locationButton.textContent = "Pan to Current Location";
    //   locationButton.classList.add("custom-map-control-button");
    //   map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
    //   locationButton.addEventListener("click", () => {
    //     // Try HTML5 geolocation.
    //     if (navigator.geolocation) {
    //       navigator.geolocation.getCurrentPosition(
    //         (position) => {
    //           const pos = {
    //             lat: position.coords.latitude,
    //             lng: position.coords.longitude,
    //           };

    //           infoWindow.setPosition(pos);
    //           infoWindow.setContent("Location found.");
    //           infoWindow.open(map);
    //           map.setCenter(pos);
    //         },
    //         () => {
    //           handleLocationError(true, infoWindow, map.getCenter());
    //         }
    //       );
    //     } else {
    //       // Browser doesn't support Geolocation
    //       handleLocationError(false, infoWindow, map.getCenter());
    //     }
    //   });
    // }


    let map, infoWindow;

    function initMap() {
      map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: -34.397, lng: 150.644 },
        zoom: 19,
      });
      infoWindow = new google.maps.InfoWindow({
        content: "click the map to get Lat/Lng!",
        position: { lat: -34.397, lng: 150.644 },
      });

      const locationButton = document.createElement("button");

      locationButton.textContent = "Pan to Current Location";
      locationButton.classList.add("custom-map-control-button");
      map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
      locationButton.addEventListener("click", () => {
        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(
            (position) => {
              const pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude,
              };

              const marker = new google.maps.Marker({
                position: pos,
                map: map,
              });

              console.log(pos);

              infoWindow.setPosition(pos);
             infoWindow.setContent("Location found.Click to get latitude and longitude");
              infoWindow.open(map);
              map.setCenter(pos);
            },
            () => {
              handleLocationError(true, infoWindow, map.getCenter());
            }
          );
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      });

      //configure the click listener.
      map.addListener("click", (mapsMouseEvent) => {
        // Close the current InfoWindow.
        infoWindow.close();

        // Create a new InfoWindow.
        infoWindow = new google.maps.InfoWindow({
          position: mapsMouseEvent.latLng,
        });

        const marker = new google.maps.Marker({
                position: mapsMouseEvent.latLng,
                map: map,
              });

        infoWindow.setContent(
          JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2)
        );

        var lat = mapsMouseEvent.latLng.toJSON().lat;
        var lng = mapsMouseEvent.latLng.toJSON().lng;
        console.log(lat);
        console.log(lng);

        //infoWindow.open(map);
      });
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(
        browserHasGeolocation
          ? "Error: The Geolocation service failed."
          : "Error: Your browser doesn't support geolocation."
      );
      infoWindow.open(map);
    }

    window.initMap = initMap;


  </script>
  <!-- 
     The `defer` attribute causes the callback to execute after the full HTML
     document has been parsed. For non-blocking uses, avoiding race conditions,
     and consistent behavior across browsers, consider loading using Promises
     with https://www.npmjs.com/package/@googlemaps/js-api-loader.
    -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwft98-an5hhbc6iOzNSPl1rQa39O-8wc&callback=initMap&v=weekly"
    defer></script>
</body>

</html>