<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Workshop Owner Registration</title>
  <link rel="stylesheet" href="css/start.css">
  <link rel="stylesheet" type=text/css href="https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqa2txMjJqUUctNmE2dDhMaHc4aldnTDhXOFd6QXxBQ3Jtc0ttNmRFVmR5Rnh2SHoyd253dmk1di1KRVB6UjB3UkVXR0xSa2RCdGFVV2NkZlltcmZXY2JEWGJrOUVWZzhLZVA2dzE5aXViT1RNUkRmUXVWaWsyWFcxdVJiWnRGNDdDVG50bTVmLXRSakNsNWRiZFRGaw&q=https%3A%2F%2Fstackpath.bootstrapcdn.com%2Ffont-awesome%2F4.7.0%2Fcss%2Ffont-awesome.min.css&v=XFH1WDBRCW8">

</head>

<body>


      <div class="login">
        <div class="background">
          <h1>Register as Workshop</h1>
          <form>
            <p>Name</p>
            <input type="text" name="" placeholder="Enter Your Name" required>
            <p>Phone Number</p>
            <input type="text" name="" placeholder="Phone Number" required>
            <p>Email</p>
            <input type="email" placeholder="Enter Email" required>
            <p>Password</p>
            <input type="password" name="" placeholder="(8 characters minimum)" minlength="8" required>
            <p>Confirm Password</p>
            <input type="password" name="" placeholder="Enter password again" required>
            <p>Location</p>
            <input type="text" name="" placeholder="Enter your address" required>


            <input type="submit" name="" value="Next"><br>
          </form>
          <a href="index.html">Already have an account? Login</a>
        </div>

      </div>


</body>

</html>
